package {{package}};

import com.fasterxml.jackson.core.type.TypeReference;

import java.util.Optional;

{{^returnType}}
import io.reactivex.Single;
{{/returnType}}
{{^returnType}}
import io.reactivex.Completable;
{{/returnType}}

import org.everit.atlassian.restclient.common.RestCallUtil;
import org.everit.atlassian.restclient.common.RestRequest;
import org.everit.atlassian.restclient.common.RestRequestEnhancer;

import org.everit.http.client.HttpClient;
import org.everit.http.client.HttpMethod;
import org.everit.http.client.HttpRequest;

{{#imports}}import {{import}};
{{/imports}}

import java.util.ArrayList;
import java.util.Collection;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

{{#operations}}
public class {{classname}} {

  private static final String DEFAULT_BASE_PATH = "{{{basePath}}}";
{{#operation}}{{#returnType}}
  private static final TypeReference<{{{returnType}}}> returnType_{{operationId}} = new TypeReference<{{{returnType}}}>() {};
{{/returnType}}{{/operation}}
  private final HttpClient httpClient;

  public {{classname}}(HttpClient httpClient) {
    this.httpClient = httpClient;
  }

  {{#operation}}
  /**
   * {{{summary}}}
   * {{{notes}}}
{{#allParams}}
   * @param {{paramName}} {{{description}}}{{#required}} (required){{/required}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}
{{/allParams}}
   * @param restRequestEnhancer <p>Adds the possibility to modify the rest request before sending out. This can be useful to add authorizations tokens for example.</p>
   * @return {{#returnType}}Single&lt;{{#isResponseFile}}ResponseBody{{/isResponseFile}}{{^isResponseFile}}{{returnType}}{{/isResponseFile}}&gt;{{/returnType}}{{^returnType}}Completable{{/returnType}}
{{#isDeprecated}}
   * @deprecated
{{/isDeprecated}}
{{#externalDocs}}
   * {{{description}}}
   * @see <a href="{{url}}">{{summary}} Documentation</a>
{{/externalDocs}}
   */
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}
  {{#formParams}}
  {{#-first}}
  {{#isMultipart}}@retrofit2.http.Multipart{{/isMultipart}}{{^isMultipart}}@retrofit2.http.FormUrlEncoded{{/isMultipart}}
  {{/-first}}
  {{/formParams}}
  {{^formParams}}
  {{#prioritizedContentTypes}}
  {{#-first}}
  @Headers({
    "Content-Type:{{{mediaType}}}"
  })
  {{/-first}}
  {{/prioritizedContentTypes}}
  {{/formParams}}
  public {{#returnType}}Single<{{#isResponseFile}}ResponseBody{{/isResponseFile}}{{^isResponseFile}}{{{returnType}}}{{/isResponseFile}}>{{/returnType}}{{^returnType}}Completable{{/returnType}} {{operationId}}({{^allParams}}Optional<RestRequestEnhancer> restRequestEnhancer){{/allParams}}
    {{#allParams}}{{#required}}{{{dataType}}}{{/required}}{{^required}}Optional<{{{dataType}}}>{{/required}} {{paramName}}, {{^hasMore}}Optional<RestRequestEnhancer> restRequestEnhancer){{/hasMore}}{{/allParams}} {

    RestRequest.Builder requestBuilder = RestRequest.builder()
        .method(HttpMethod.{{httpMethod}})
        .basePath(DEFAULT_BASE_PATH)
        .path("{{{path}}}");

    Map<String, String> pathParams = new HashMap<>();
    {{#pathParams}}
{{^required}}    if ({{paramName}}.isPresent()) {
  {{/required}}    pathParams.put("{{baseName}}", String.valueOf({{paramName}}{{^required}}.get(){{/required}}));{{^required}}
    }{{/required}}
    {{/pathParams}}
    requestBuilder.pathParams(pathParams);

    Map<String, Collection<String>> queryParams = new HashMap<>();
    {{#queryParams}}
{{^required}}    if ({{paramName}}.isPresent()) {
  {{/required}}    queryParams.put("{{baseName}}", {{#collectionFormat}}RestCallUtil.objectCollectionToStringCollection({{paramName}}{{^required}}.get(){{/required}}){{/collectionFormat}}{{^collectionFormat}}Collections.singleton(String.valueOf({{paramName}}{{^required}}.get(){{/required}})){{/collectionFormat}});{{^required}}
    }{{/required}}
    {{/queryParams}}
    requestBuilder.queryParams(queryParams);

    Map<String, String> headers = new HashMap<>();
    {{#headerParams}}
{{^required}}    if ({{paramName}}.isPresent()) {
  {{/required}}    headers.put("{{baseName}}", {{paramName}}{{^required}}.get(){{/required}});{{^required}}
    }{{/required}}
    {{/headerParams}}
    requestBuilder.headers(headers);
    {{#bodyParam}}

    requestBuilder.requestBody({{#required}}Optional.of({{paramName}}){{/required}}{{^required}}{{paramName}}{{/required}});
    {{/bodyParam}}

    return RestCallUtil.callEndpoint(httpClient, requestBuilder.build(), restRequestEnhancer{{#returnType}}, returnType_{{operationId}}{{/returnType}});
  }

  {{/operation}}
}
{{/operations}}
